# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
.pytest_cache/

# All data and results are created by running `python main.py`
data/
results/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
